* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
}

:root {
    --primary: #18db86;
    --secondary: white;
    --secondary-light: rgb(173, 173, 173);
    --dark1: #222222;
    --dark2: #050505;
}

body {
    font-size: 18px;
    font-family: 'signika', sans-serif;
    color: var(--dark1);
}

a, li {
    font-family: 'signika', sans-serif;
    color: var(--secondary);
}

.logo-header img {
    max-width: 25px;
}

header {
    background-color: var(--dark2);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.2rem 2rem;
}


.container {
    max-width: 1250px;
    margin: 0 auto;
}

.nav-menu {
    margin: .1rem 0 .5rem 0;
}
.nav-menu ul {
    display: flex;
    align-items: center;
}
.nav-menu li {
    margin-right: 1.7rem;
    --clippy: polygon(0 0, 0 0, 0 100%, 0% 100%);
}

.nav-menu li:last-child {
    background-color: var(--primary);
    border: 2px solid var(--primary);
    padding: .25rem .75rem;
    border-radius: .2rem;
}
.nav-menu li:last-child:hover {
    background: transparent;
    border: 2px solid var(--primary);
}
.nav-menu li::after {
    content: '';
    display: block;
    background-color: var(--primary);
    width: 90%;
    height: 3px;
    margin-top: 3px;
    clip-path: var(--clippy);
    transition: clip-path .5s;
}
.nav-menu li:hover {
    --clippy:polygon(0 0, 100% 0, 100% 100%, 0 100%);
}

 .nav-menu a {
    font-size: 1.1rem;
}  

.menu-icon img { 
    width: 30px;
    height: 30px;
    border-radius: 2px;
}

.menu-icon, #check {
    display: none;
}

@media (max-width:768px ) {

    .checkbtn {
        display: block;
    }
    .menu-icon {
        display: block;
        position: fixed;
        top: 25px;
        right:10px;
        cursor: pointer;
    }
    .nav-menu ul {
        display: block;
        position: fixed;
        top: 85px;
        left: -100%;
        background:#1C2833;
        width: 100%;
        height: auto;
        right: 0;
    }
    .nav-menu li:last-child, .nav-menu li:last-child:hover {
        border: none;
    }
    .nav-menu ul, li {
        padding: 2rem;
        display: grid;
        justify-content: center;
    }
    .nav-menu ul li:last-child {
        background: none;
        padding: 1rem;
    }
    #check:checked ~ ul {
        left: 0;
        transition: all .25s;
    }
    .logo-header img {
        max-width: 40px;
    }

}


.hero {
    background-color: var(--dark2);
    position: relative;
}

.hero img {
    width: 100%;
    height: 530px;
    opacity: 0.40;
    margin-bottom: -0.3rem;
}

span {
    color: var(--primary);
}


/* Circle Profile */

.profile div {
    position: absolute;
}
.profile {
    display: flex;
    justify-content: center;
}
.square {
    width: 320px;
    height: 55%;
    background-color: var(--dark1);
    opacity: 0.5;
    z-index: 11;
    top: 115px;
}
.circle-trans {
    width: 290px;
    height: 290px;
    border-radius: 50%;
    border: solid 30px var(--primary);
    opacity: .2;
    z-index: 19;
    top: 145px;
}

.circle {
    width: 230px;
    height: 230px;
    border-radius: 50%;
    border: solid 15px var(--primary);
    z-index: 21;
    top: 175px;
}

.profile-img {
    top: 188px;
    z-index: 11;
}

.profile-img img {
    width: 205px;
    height: 205px;
    border-radius: 50%;
}


.square-text {
    font-size: 1.9rem;
    color: var(--secondary);
    top: 442px;
    z-index: 11;
}

.square-text-2 {
    font: 1rem;
    color: var(--secondary);
    top: 477px;
    z-index: 11;
}

.square-text-3 {
    font-size: 1.3rem;
    color: var(--secondary);
    top: 542px;
    z-index: 11;

}
.square-text-3 a {
    color: var(--secondary);
    text-decoration: none;
}
.square-text-3:hover {
    border-bottom: var(--primary) solid;
}

.contact-icon {
    top: 498px;
    z-index: 11;
}

.contact-icon img {
    width: 40px;
    margin: 0 10px;
}
.contact-icon img:hover {
    transform: scale(1.2);
}

/* Briefcase */

.briefcase {
    background-color: var(--dark1);
}

.briefcase-section h2 {
    padding: 40px;
    text-align: center;
    font-size: 2.2rem;
}

.briefcase-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(290px,auto));
    gap: 15px;
    width: 90%;
    margin: 0 auto;
}

.briefcase-grid img {
    width: 100%;
    border-radius: 10px;
    transition: transform 0.2s ease;
    cursor: pointer;
}

.briefcase-grid img:hover {
    transform: scale(1.1);
}

/* Skills */

section.skills {
    background-color: var(--dark1);
}

.skill {
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(250px,auto));
    justify-content: center;
    gap: 170px;
    width: 90%;
    margin: 0 auto;
    padding-top: 50px;
    padding-bottom: 110px;
}

.skill h2 {
   padding-bottom: 60px;
   font-size: 2.2rem;
}

.skill img {
    width: 90px;
}

.knowledge {
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(110px,auto));
    justify-content: center;
    gap: 25px;
}

.tools {
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(70px,auto));
    justify-content: center;
    gap: 50px;
}

/* ToolTip */

.skill h3 {
    background-color: var(--dark2);
    color: var(--primary);
    text-align: center;
    border-radius: 5px;
    padding: 5px 0;
    font-size: 1.1rem;
    width: 100px;
    opacity: 0;
    transform: translate(0px,-100px);
    transition:  transform 0.4s ease, opacity 0.4s ease;
}

.knowledge>div:hover h3,
.tools>div:hover h3 {
    opacity: 1;
    transform: translate(0px, -150px);
}

/* About */

.about {
    background-color: var(--dark2);
}

.about-flex {
    display: flex;
    width: 90%;
    margin: 0 auto;
    padding: 50px  0 100px;
}

.about p {
    font-size: 1.5rem;
    width: 90%;
    margin: 0 auto;
    line-height: 2rem;
    color: var(--secondary-light);
}

.social {
    border-left: var(--secondary) 5px solid;
    padding-left: 50px;
}

.social img {
    width: 60px;
    margin: 10px;
}
.social img:hover {
    transform: scale(1.2);
}

/* Footer */

footer {
    background-color: var(--dark2);
    text-align: center;
    color: var(--secondary-light);
    padding-bottom: 1rem;
}

/* Icon Elements */

.icon-elements {
    display: grid;
    grid-column: repeat(auto-fit,minmax(250px,auto));
    justify-content: center;
    gap: 20px;
    padding-bottom: 100px;
    width: 90%;
    margin: 0 auto;
}


.icon-elements a {
    display: flex;
    align-items: center;
    font-size: 1.5rem;
    text-decoration: none;
    gap: 15px;
}

.icon-elements img {
    width: 70px;
}
.icon-elements img:hover {
    transform: scale(1.2);
}
.icon-elements span:hover {
    color: var(--secondary);
}


/* Modals */

.eins-modal-content {
    max-width: 700px;
    background-color:  var(--dark1);
}
.eins-modal-preview {
    max-width: 500px;
    width: 100%;
    margin: 0 auto; 
}
.eins-modal-preview img {
    width: 100%;
    height: 100%; 
    padding: 0 50px 20px 0;
}
.pw-content {
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(270px,auto));
}
.eins-modal-text p {
    font-size: 1.1rem;
    padding: 5px 0;
    /* opacity: 0.9; */
    color: var(--dark1);
} 
.eins-modal-text-2 {
    padding: 60px 0 10px;
}
.eins-modal-text-2 a {
    color: var(--dark1);
    margin: 5px;
    text-decoration: none;
}
.eins-modal-tec img {
    width: 50px;
    height: 50px;
    margin: 15px 0 15px 0;
}
.eins-modal-text-3 {
    text-decoration: none;
    font-size: 1.1rem;
}
.eins-modal-text-3 a {
    text-decoration: none;
    font-size: 1rem;
}
.eins-modal-text-2 a:hover {
    color: #1ABC9C;
}
.eins-modal-text-3 img:hover{
    transform: scale(1.1);

}

.eins-icon-elements {
    display: grid;
    grid-column: repeat(auto-fit,minmax(250px,auto));
    justify-content: center;
    gap: 20px;
    padding-bottom: 200px;
    width: 90%;
    margin: 0 auto;
}


.eins-icon-elements a {
    display: flex;
    align-items: center;
    font-size: 1.5rem;
    text-decoration: none;
    gap: 15px;
}

.eins-icon-elements img {
    width: 70px;
}
.eins-icon-elements img:hover {
    transform: scale(1.2);
}
.eins-icon-elements span:hover {
    color: #1ABC9C;
}

/* Contact Form */

form {
    max-width: 400px;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
}

.form>label>input {
    background-color: var(--dark2);
    border-radius: 10px;
    padding: 10px 60px;
    color: var(--secondary);
    outline: none;
    opacity: .7;
    width: 100%;
}

.form>label>textarea {
    background-color: var(--dark2);
    border-radius: 10px;
    padding: 50px;
    color: var(--secondary);
    outline: none;
    opacity: .7;
    width: 100%;
}

label {
    padding: 5px;
    color: var(--dark1);
}

.form>button {
    background-color: var(--primary);
    color: var(--secondary);
    border-radius: 10px;
    padding: 10px;
}

/* flecha scroll */

#botonArriba {
    position: fixed;
    bottom: 20px;
    right: -100px;
    width: 40px;
    transition: all 1s;
}
